name: Backup HTML Page

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:        # Allows manual run
  push:
    branches:
      - 'main'

jobs:
  fetch-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (required by Pages)
        uses: actions/checkout@v4

      - name: Fetch HTML
        run: |
          URL="https://batavier.bramvonk.nl/bartavier/backup-menu"
          OUTPUT="latest.html"

          # retry because sometimes we're just restarting our service or server, no need to fail the build then
          status=$(curl --retry 10 --retry-delay 60 --retry-all-errors --silent --show-error --output "$OUTPUT" --write-out "%{response_code}" "$URL")

          if [ "$status" -eq 200 ]; then
            echo "Page fetched successfully."
          else
            echo "Non-200 response: $status"
            exit 1
          fi

      - name: Commit & Push to gh-pages
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git fetch origin gh-pages
          git checkout gh-pages || git checkout --orphan gh-pages
          mv latest.html index.html
          git add index.html
          git commit -m "Update HTML backup" && git push origin gh-pages || echo "No changes"
